[phases.setup]
nixPkgs = ["nodejs_20", "openssl_1_1"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = [
  "npx prisma generate",
  "npm run build"
]

[start]
cmd = "node dist/index.js"

[variables]
PRISMA_QUERY_ENGINE_LIBRARY = "/app/node_modules/.prisma/client/libquery_engine-debian-openssl-1.1.x.so.node"
