[build]
builder = "NIXPACKS"

[deploy]
startCommand = "npm run db:push && npm run start"
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 3
